################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Servicios-CRM-Replica/FileContentIndex/0a4f3b0c-dbf3-481c-be0b-dfc80c36cb05.vsidx
/.vs/Servicios-CRM-Replica/FileContentIndex/68bd817f-9ca1-48be-b8f0-c53016e8f77a.vsidx
/.vs
