################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Servicios-CRM-Replica/FileContentIndex/0a4f3b0c-dbf3-481c-be0b-dfc80c36cb05.vsidx
